In [2]:
import pandas as pd

# Traffic data

In [128]:
data = pd.read_csv('Datasett/Trafikkregistreringsdatasett/trafikkregistreringspunkt 7 - uke 44 og 45.csv', sep=';')

In [129]:
data

,_id,_index,_score,_type,county_id,created_at_timestamp,datalogger_type,event_emitted_timestamp,event_number,event_timestamp,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
0,7-204867,traffic_event_vehicle_2020_11,NaN,traffic_event_vehicle,18,"2020-11-09, 02:18:00.829",LOOP_MONITOR,"2020-11-08, 23:53:13.359",204867,"2020-11-08, 23:53:12.230",...,True,True,True,True,2,2222,2,NaN,False,False
1,7-204866,traffic_event_vehicle_2020_11,NaN,traffic_event_vehicle,18,"2020-11-09, 02:18:00.829",LOOP_MONITOR,"2020-11-08, 23:53:07.409",204866,"2020-11-08, 23:53:06.030",...,True,True,True,True,2,2222,2,NaN,True,False
2,7-204865,traffic_event_vehicle_2020_11,NaN,traffic_event_vehicle,18,"2020-11-09, 02:18:00.828",LOOP_MONITOR,"2020-11-08, 23:51:05.419",204865,"2020-11-08, 23:51:04.010",...,True,True,True,True,72,2222,72,NaN,True,False
3,7-204864,traffic_event_vehicle_2020_11,NaN,traffic_event_vehicle,18,"2020-11-09, 02:18:00.829",LOOP_MONITOR,"2020-11-08, 23:43:39.509",204864,"2020-11-08, 23:43:38.220",...,True,True,True,True,4,2222,4,NaN,False,False
4,7-204863,traffic_event_vehicle_2020_11,NaN,traffic_event_vehicle,18,"2020-11-09, 02:18:00.828",LOOP_MONITOR,"2020-11-08, 23:39:34.429",204863,"2020-11-08, 23:39:32.110",...,True,True,True,True,8,6222,8,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48134,7-156733,traffic_event_vehicle_2020_10,NaN,traffic_event_vehicle,18,"2020-10-26, 03:01:41.003",LOOP_MONITOR,"2020-10-26, 00:32:28.609",156733,"2020-10-26, 00:32:26.830",...,True,True,True,True,2,2222,2,NaN,True,False
48135,7-156732,traffic_event_vehicle_2020_10,NaN,traffic_event_vehicle,18,"2020-10-26, 03:01:41.002",LOOP_MONITOR,"2020-10-26, 00:13:21.659",156732,"2020-10-26, 00:13:20.260",...,True,True,True,True,2,2222,2,NaN,False,False
48136,7-156731,traffic_event_vehicle_2020_10,NaN,traffic_event_vehicle,18,"2020-10-26, 03:01:41.002",LOOP_MONITOR,"2020-10-26, 00:13:19.669",156731,"2020-10-26, 00:13:17.890",...,True,True,True,True,2,2222,2,NaN,True,False
48137,7-156730,traffic_event_vehicle_2020_10,NaN,traffic_event_vehicle,18,"2020-10-26, 03:01:41.002",LOOP_MONITOR,"2020-10-26, 00:13:16.700",156730,"2020-10-26, 00:13:14.830",...,True,True,True,True,2,2222,2,NaN,True,False
48138,7-156729,traffic_event_vehicle_2020_10,NaN,traffic_event_vehicle,18,"2020-10-26, 03:01:41.002",LOOP_MONITOR,"2020-10-26, 00:03:24.699",156729,"2020-10-26, 00:03:22.190",...,True,True,True,True,3,2222,3,NaN,False,False

In [130]:
data.isna().sum()

_id                                              0
_index                                           0
_score                                       48139
_type                                            0
county_id                                        0
created_at_timestamp                             0
datalogger_type                                  0
event_emitted_timestamp                          0
event_number                                     0
event_timestamp                                  0
firmware_version                                 0
klokketime                                       0
lane                                             0
length                                           0
qspeed                                           0
region_id                                        0
speed                                            0
time_gap                                         0
traffic_registration_point_id                    0
valid_classification                             0
valid_event                                      0
valid_length                                     0
valid_speed                                      0
vehicle_type                                     0
vehicle_type_quality                             0
vehicle_type_raw                                 0
weight                                       48139
with_traffic_registration_point_direction        0
wrong_direction                                  0
dtype: int64

In [131]:
data.dtypes

_id                                           object
_index                                        object
_score                                       float64
_type                                         object
county_id                                      int64
created_at_timestamp                          object
datalogger_type                               object
event_emitted_timestamp                       object
event_number                                   int64
event_timestamp                               object
firmware_version                              object
klokketime                                     int64
lane                                           int64
length                                        object
qspeed                                        object
region_id                                      int64
speed                                         object
time_gap                                      object
traffic_registration_point_id                  int64
valid_classification                            bool
valid_event                                     bool
valid_length                                    bool
valid_speed                                     bool
vehicle_type                                   int64
vehicle_type_quality                           int64
vehicle_type_raw                               int64
weight                                       float64
with_traffic_registration_point_direction       bool
wrong_direction                                 bool
dtype: object

In [132]:
data['length'] = data['length'].map(lambda x: float(x.replace(',', '.')))

In [133]:
data['qspeed'] = data['qspeed'].map(lambda x: float(x.replace(',', '.')))

In [134]:
data['speed'] = data['speed'].map(lambda x: float(x.replace(',', '.')))

In [135]:
data['time_gap'] = data['time_gap'].map(lambda x: float(x.replace(',', '.')))

In [136]:
data['_score'].unique()

array([nan])

In [137]:
data.drop(columns=['_score'], inplace=True)

In [138]:
data['_type'].unique()

array(['traffic_event_vehicle'], dtype=object)

In [139]:
data.drop(columns=['_type'], inplace=True)

In [140]:
data['county_id'].unique()

array([18])

In [141]:
data.drop(columns=['county_id'], inplace=True)

In [142]:
data['datalogger_type'].unique()

array(['LOOP_MONITOR'], dtype=object)

In [143]:
data.drop(columns=['datalogger_type'], inplace=True)

In [144]:
data['firmware_version'].unique()

array(['1.14.414/41.4'], dtype=object)

In [145]:
data.drop(columns=['firmware_version'], inplace=True)

In [146]:
data['_index'].unique()

array(['traffic_event_vehicle_2020_11', 'traffic_event_vehicle_2020_10'],
      dtype=object)

In [147]:
data.drop(columns=['_index'], inplace=True)

In [148]:
data.set_index('event_number')

,_id,created_at_timestamp,event_emitted_timestamp,event_timestamp,klokketime,lane,length,qspeed,region_id,speed,...,valid_classification,valid_event,valid_length,valid_speed,vehicle_type,vehicle_type_quality,vehicle_type_raw,weight,with_traffic_registration_point_direction,wrong_direction
event_number,,,,,,,,,,,,,,,,,,,,,
204867,7-204867,"2020-11-09, 02:18:00.829","2020-11-08, 23:53:13.359","2020-11-08, 23:53:12.230",23,2,4.4,0.0,1,57.0,...,True,True,True,True,2,2222,2,NaN,False,False
204866,7-204866,"2020-11-09, 02:18:00.829","2020-11-08, 23:53:07.409","2020-11-08, 23:53:06.030",23,1,4.5,0.1,1,58.1,...,True,True,True,True,2,2222,2,NaN,True,False
204865,7-204865,"2020-11-09, 02:18:00.828","2020-11-08, 23:51:05.419","2020-11-08, 23:51:04.010",23,1,9.9,0.8,1,70.1,...,True,True,True,True,72,2222,72,NaN,True,False
204864,7-204864,"2020-11-09, 02:18:00.829","2020-11-08, 23:43:39.509","2020-11-08, 23:43:38.220",23,2,5.0,0.3,1,61.9,...,True,True,True,True,4,2222,4,NaN,False,False
204863,7-204863,"2020-11-09, 02:18:00.828","2020-11-08, 23:39:34.429","2020-11-08, 23:39:32.110",23,1,18.4,0.4,1,67.4,...,True,True,True,True,8,6222,8,NaN,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156733,7-156733,"2020-10-26, 03:01:41.003","2020-10-26, 00:32:28.609","2020-10-26, 00:32:26.830",0,1,5.0,0.3,1,62.5,...,True,True,True,True,2,2222,2,NaN,True,False
156732,7-156732,"2020-10-26, 03:01:41.002","2020-10-26, 00:13:21.659","2020-10-26, 00:13:20.260",0,2,4.4,0.2,1,59.2,...,True,True,True,True,2,2222,2,NaN,False,False
156731,7-156731,"2020-10-26, 03:01:41.002","2020-10-26, 00:13:19.669","2020-10-26, 00:13:17.890",0,1,3.9,2.0,1,65.6,...,True,True,True,True,2,2222,2,NaN,True,False
156730,7-156730,"2020-10-26, 03:01:41.002","2020-10-26, 00:13:16.700","2020-10-26, 00:13:14.830",0,1,3.8,0.1,1,67.0,...,True,True,True,True,2,2222,2,NaN,True,False
156729,7-156729,"2020-10-26, 03:01:41.002","2020-10-26, 00:03:24.699","2020-10-26, 00:03:22.190",0,2,9.1,0.2,1,57.8,...,True,True,True,True,3,2222,3,NaN,False,False

In [149]:
data.drop(columns=['_id'], inplace=True)

In [150]:
data['vehicle_type'].dtype

dtype('int64')

In [151]:
data.drop(columns=['vehicle_type_quality'], inplace=True)

In [152]:
data.to_csv('./data/trafikkregistreringspunkt_7_-_uke_44_og_45_2020.csv', index=False)

# Weather data

In [240]:
data = pd.read_csv('Datasett/veardata/Veardata_Bjornfjell.csv', sep=';')

In [241]:
data

,DESCRIPTION,MVT_ID,MEASURE_TIME,VALUE
0,Relativ luftfuktighet,2,28.08.2020 10:10:00,"99,9"
1,Lufttemperatur,1,28.08.2020 10:10:00,"5,16"
2,Vindretning (0 - 360°),10,28.08.2020 10:10:00,281
3,Akkumulert nedbør siste 10 minutter,22,28.08.2020 10:10:00,0
4,Vindhastighet,9,28.08.2020 10:10:00,"3,06"
...,...,...,...,...
2043887,Vegbanetemperatur,8,01.08.2017 00:00:00,12
2043888,Vindkast,11,01.08.2017 00:00:00,"5,61"
2043889,Maks. vindkast siste 10 minutter,31,01.08.2017 00:00:00,"6,14"
2043890,Lufttemperatur,1,01.08.2017 00:00:00,"10,68"
2043891,Duggpunktstemperatur (beregnet),3,01.08.2017 00:00:00,"9,6"

In [242]:
data.MVT_ID.unique()

array([  2,   1,  10,  22,   9,  25,  14,  11, 200,  31,   3,   8,   7])

In [243]:
data['VALUE'] = data['VALUE'].map(lambda x: float(x.replace(',', '.')))

In [244]:
# extract data for 'UNIT'
def convert_to_column(unitstr, data):
    unit = data[data['DESCRIPTION'] == unitstr].copy()
    unit.rename(columns={'VALUE': unitstr}, inplace=True)
    return unit[[unitstr, 'MEASURE_TIME']]

In [245]:
unit_df = []
for unitstr in data.DESCRIPTION.unique():
    unit_df.append(convert_to_column(unitstr, data))

In [246]:
data

,DESCRIPTION,MVT_ID,MEASURE_TIME,VALUE
0,Relativ luftfuktighet,2,28.08.2020 10:10:00,99.90
1,Lufttemperatur,1,28.08.2020 10:10:00,5.16
2,Vindretning (0 - 360°),10,28.08.2020 10:10:00,281.00
3,Akkumulert nedbør siste 10 minutter,22,28.08.2020 10:10:00,0.00
4,Vindhastighet,9,28.08.2020 10:10:00,3.06
...,...,...,...,...
2043887,Vegbanetemperatur,8,01.08.2017 00:00:00,12.00
2043888,Vindkast,11,01.08.2017 00:00:00,5.61
2043889,Maks. vindkast siste 10 minutter,31,01.08.2017 00:00:00,6.14
2043890,Lufttemperatur,1,01.08.2017 00:00:00,10.68
2043891,Duggpunktstemperatur (beregnet),3,01.08.2017 00:00:00,9.60

In [247]:
data.dtypes

DESCRIPTION      object
MVT_ID            int64
MEASURE_TIME     object
VALUE           float64
dtype: object

In [248]:
data_time = data[['MEASURE_TIME']].copy()

In [249]:
for unit in unit_df:
    data_time = pd.merge(left=data_time, right=unit, left_on='MEASURE_TIME', how='left', right_on='MEASURE_TIME')

In [250]:
data_time

,MEASURE_TIME,Relativ luftfuktighet,Lufttemperatur,Vindretning (0 - 360°),Akkumulert nedbør siste 10 minutter,Vindhastighet,Nedbørsintensitet,Sikt i nedbør,Vindkast,Vindkastretning (0 - 360°),Maks. vindkast siste 10 minutter,Duggpunktstemperatur (beregnet),Vegbanetemperatur,Nedbørstype
0,28.08.2020 10:10:00,99.9,5.16,281.0,0.0,3.06,0.00,19999.0,3.62,265.0,4.81,5.1,6.5,NaN
1,28.08.2020 10:10:00,99.9,5.16,281.0,0.0,3.06,0.00,19999.0,3.62,265.0,4.81,5.1,6.5,NaN
2,28.08.2020 10:10:00,99.9,5.16,281.0,0.0,3.06,0.00,19999.0,3.62,265.0,4.81,5.1,6.5,NaN
3,28.08.2020 10:10:00,99.9,5.16,281.0,0.0,3.06,0.00,19999.0,3.62,265.0,4.81,5.1,6.5,NaN
4,28.08.2020 10:10:00,99.9,5.16,281.0,0.0,3.06,0.00,19999.0,3.62,265.0,4.81,5.1,6.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043887,01.08.2017 00:00:00,92.9,10.68,107.0,0.0,3.57,0.28,20000.0,5.61,128.0,6.14,9.6,12.0,512.0
2043888,01.08.2017 00:00:00,92.9,10.68,107.0,0.0,3.57,0.28,20000.0,5.61,128.0,6.14,9.6,12.0,512.0
2043889,01.08.2017 00:00:00,92.9,10.68,107.0,0.0,3.57,0.28,20000.0,5.61,128.0,6.14,9.6,12.0,512.0
2043890,01.08.2017 00:00:00,92.9,10.68,107.0,0.0,3.57,0.28,20000.0,5.61,128.0,6.14,9.6,12.0,512.0
2043891,01.08.2017 00:00:00,92.9,10.68,107.0,0.0,3.57,0.28,20000.0,5.61,128.0,6.14,9.6,12.0,512.0

In [251]:
data_time.dtypes

MEASURE_TIME                            object
Relativ luftfuktighet                  float64
Lufttemperatur                         float64
Vindretning (0 - 360°)                 float64
Akkumulert nedbør siste 10 minutter    float64
Vindhastighet                          float64
Nedbørsintensitet                      float64
Sikt i nedbør                          float64
Vindkast                               float64
Vindkastretning (0 - 360°)             float64
Maks. vindkast siste 10 minutter       float64
Duggpunktstemperatur (beregnet)        float64
Vegbanetemperatur                      float64
Nedbørstype                            float64
dtype: object

In [252]:
data.to_csv('./data/vaerdata_bjornfjellet.csv', index=False)